@font-face {
    font-family: "roboto-black";
    src: url("../font/Roboto-Black.ttf");
}
@font-face {
    font-family: "roboto-bold";
    src: url("../font/Roboto-Bold.ttf");
}
@font-face {
    font-family: "roboto";
    src: url("../font/Roboto-Regular.ttf");
}

@include reset-css;

.btn{
    background-color: white;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "roboto-bold"
}

p{
    line-height: 25px;
    font-family: "roboto";
}